.productContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 16px auto;
  background-color: var(--background-white);
  /* flex-wrap: wrap; Allow items to wrap onto multiple lines */
}

.productDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productImage {
  display: flex;
  align-items: center;
  padding: 32px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  padding: 32px;
  flex: 0;
}

.productCondition {
  font-size: 14px;
  margin-bottom: 16px;
}

.productTitle {
  line-height: normal;
  font-size: 24px;
  margin: 0;
}

.productPrice {
  font-size: 46px;
  margin: 0;
  padding: 32px 0;
}

.productDescription {
  width: 65%;
  padding: 32px;
}

.titleDescription {
  padding: 32px 0;
  line-height: normal;
  margin: 0;
  font-size: 28px;
  color: var(--text-gray-dark);
}

.paragraphDescription {
  line-height: normal;
  margin: 0;
  font-size: 16px;
  color: var(--text-gray);
}
