.productContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 16px auto;
  background-color: var(--background-white);
  /* flex-wrap: wrap; Allow items to wrap onto multiple lines */
}
.productDetail {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.productImage {
  flex: 1;
}

.productInfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 32px;
  width: 30%;
}

.productCondition {
  font-size: 14px;
}

.productTitle {
  font-size: 24px;
  margin: 0;
}

.productPrice {
  font-size: 46px;
  margin: 0;
  padding: 32px 0;
}

.productDescription {
  width: 70%;
  padding: 32px;
}

.titleDescription {
  padding: 32px 0;
  margin: 0;
  font-size: 28px;
  color: var(--text-gray-dark);
}

.paragraphDescription {
  margin: 0;
  font-size: 16px;
  color: var(--text-gray);
}

.productButton {
  padding: 0 0 32px 0;
}
