.customButton {
  width: 100%;
  background-color: var(--background-button);
  border-color: transparent;
  color: var(--background-white);
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  transition: var(--background-gray) 0.3s;
}

.customButton:hover {
  background-color: var(--button-hover);
}
