.listContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto;
  background-color: var(--background-white);
  /* flex-wrap: wrap; Allow items to wrap onto multiple lines */
}

.listItem {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hr {
  border: none;
  margin: auto;
  border-top: 0.0625rem solid var(--background-gray);
  width: 95%;
}
