.shippingError {
  color: var(--text-green);
}

.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.image {
  object-fit: contain;
  margin: 1rem;
  border-radius: 0.25rem;
}

.itemList {
  display: flex;
  flex-direction: column;
}

.itemDetails {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.itemPrice {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.itemTitle {
  display: flex;
  flex-direction: row;
  width: 70%;
  color: var(--text-gray-dark);
  font-size: 1.125rem;
  margin-bottom: 3.75rem;
  line-height: normal;
}

.itemText {
  display: flex;
  flex: row;
  color: var(--text-gray);
  font-size: 0.75rem;
  transform: translateY(-90%);
  margin-bottom: 2rem;
}
