.searchForm {
  width: 56%;
}
.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 0.8em;
  border: none;
  border-radius: 2px 0 0 2px;
  color: var(--text-gray);
  outline: none;
  flex: 1;
  margin-left: 20px;
}

.searchIcon {
  display: flex;
  border: none;
  background-color: var(--background-gray);
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  color: var(--text-gray-dark);
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 35px;
  height: 37px;
}
