.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 56%;
}

.searchInput {
  /* width: 100%; */
  flex: 1;
  padding: 0.8em;
  border: none;
  border-radius: 0.125rem 0 0 0.125rem;
  color: var(--text-gray);
  outline: none;
  margin-left: 1.25rem;
}

.searchIcon {
  background-color: var(--background-gray);
  cursor: pointer;
  border-radius: 0 0.125rem 0.125rem 0;
  width: auto;
  padding: 0.5rem;
}

.searchImg {
  display: flex;
}

@media (max-width: 768px) {
  .searchContainer {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 10px;
  }
  .searchInput {
    width: auto;
    margin: 0;
  }
  .searchImg {
    display: flex;
    background-color: var(--background-gray);
    width: 100%;
    align-items: stretch;
    justify-content: center;
  }
}
